[submodule "Customer_Flow_Detection"]
	path = Customer_Flow_Detection
	url = https://github.com/aisu-programming/Customer-Flow-Detection.git
[submodule "Vegetable-Instance-Segmentation"]
	path = Vegetable-Instance-Segmentation
	url = https://github.com/aisu-programming/Vegetable-Instance-Segmentation.git
