### Common
python-dotenv
tqdm


# Google sheets
google-api-python-client
google-auth-httplib2
google-auth-oauthlib


### Footfall-Detection
# torch==1.9
# torchvision==0.10
numpy==1.21.4
opencv-python==4.5.3.56
matplotlib
PyYAML
scipy
# Pillow


### Vegetable-Instance-Segmentation
# tensorflow==2.4.0rc4
# opencv-python==4.5.3.56
# scikit-image
# pycocotools


### Shelf-Empty-Detection
pandas
seaborn